.tracklist {
  padding: 40px 20px;
  width: 100%;
  max-width: 380px;

  display: flex;
  flex-direction: column;

  align-self: flex-start;
}

.tracklist h3,
.tracklist h4 {
  color: white;
  margin: 6px 0;
  text-align: left;
  letter-spacing: 2px;
}

.tracklist h3 {
  font-size: clamp(18px, 2vw, 24px);
}

.tracklist h4 {
  font-size: clamp(14px, 1.5vw, 18px);
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: normal;
}

.tracklist ol {
  margin: 0 0 10px 0;
  padding-left: 18px;
}

.tracklist li {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: clamp(12px, 1.2vw, 15px);
  margin-bottom: 6px;
  line-height: 1.4;
}

@media (max-width: 700px) {
  .tracklist {
    width: 100%;
    max-width: 350px;
    padding: 20px 0;
    align-self: flex-start;
  }

  .tracklist h3,
  .tracklist h4 {
    text-align: left;
  }

  .tracklist ol {
    padding-left: 18px;
  }
}
