.tracklist {
  padding: 40px 20px;
  width: 100%;
  max-width: 380px;

  display: flex;
  flex-direction: column;

  align-self: flex-start;
}
.tracklist-list {
  margin: 0;
  padding-left: 20px;
  color: white;
}
.tracklist h3,
.tracklist h4 {
  color: white;
  margin: 6px 0;
  letter-spacing: 2px;
  text-align: left;
}

.tracklist h3 {
  font-size: clamp(18px, 2vw, 24px);
}

.tracklist h4 {
  font-size: clamp(14px, 1.5vw, 18px);
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: normal;
}

.tracklist ol {
  margin: 0;
  padding-left: 20px; /* keeps numbers visible and aligned */
  color: white;
}

.tracklist li {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: clamp(12px, 1.2vw, 15px);
  margin-bottom: 6px;
  line-height: 1.4;
}

@media (max-width: 700px) {
  .tracklist {
    align-self: center;
    text-align: center;
  }
  .tracklist-list {
    padding-left: 0;
    list-style-position: inside;
    display: inline-block;
    text-align: left;
  }
  .tracklist h4 {
    text-align: center;
  }
}
