body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Special Gothic Expanded One", sans-serif;
  background-color: black;
  overflow-x: hidden;
}
.content {
  flex: 1;
}
.hero-section {
  min-height: 75vh;
  padding-top: 90px;
}
.page-spacer {
  height: 90px;
}
.background-text {
  position: fixed;
  inset: 0;

  z-index: -1;

  background-image: url("../images/backgroundsmallandlighter.png");
  background-repeat: repeat;

  background-size: 500px;

  pointer-events: none;
}

.newsletter-section {
  width: clamp(300px, 60%, 520px);
  max-width: 650px;

  margin: 60px auto 120px;

  padding: 40px;

  background: rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  text-align: center;
  color: white;
  box-shadow: 0px 10px 60px rgba(132, 132, 132, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(0, 0, 0, 0.7);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);

  text-align: center;
  color: white;

  transition: all 0.25s ease;
}
.newsletter-section:hover {
  transform: translateY(-4px);

  border-color: #fa538b;
  border-width: 2px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}
.newsletter-title {
  margin: 0 0 15px;

  font-size: 28px;
  letter-spacing: 1px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  text-align: left;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;

  font-family: "Special Gothic Expanded One", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
}

.newsletter-input {
  width: 100%;

  padding: 16px;

  border: none;
  border-radius: 999px;

  font-size: 14px;

  box-sizing: border-box;
}
.newsletter-input:focus {
  outline: 2px solid #fa538b;
  outline-offset: 2px;
}
.newsletter-btn {
  width: 100%;

  padding: 16px;

  border: none;
  border-radius: 999px;

  background: #9ced48;
  color: rgb(0, 0, 0);

  font-size: 19px;
  font-family: "Special Gothic Expanded One", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;

  transition: 0.2s ease;
}

.newsletter-btn:hover {
  opacity: 0.85;
  transform: scale(1.01);
}
.newsletter-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.checkbox-label input[type="checkbox"] {
  width: 15px;
  height: 15px;

  accent-color: #9ced48;

  transform: scale(1);
  cursor: pointer;
}

.order-toast {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: black;
  color: white;
  padding: 16px 22px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 9999;
}
.order-toast.active {
  opacity: 1;
  transform: translateY(0);
}
.footer {
  background-color: #fa538b;
  padding: 20px 40px;
  color: white;
  margin-top: auto;
  position: relative;
  z-index: 10;
}
.footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 40px;
}
.footer h2 {
  font-size: clamp(16px, 1.2vw, 20px);
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 600;
}
.footer p {
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: clamp(10px, 1vw, 16px);
  font-weight: 300;
}

.footer-logo-img {
  width: 50%;
  height: auto;
  display: block;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-column,
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sliderContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding-bottom: 0px;
}

.controls {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 50;
}

.prev-button,
.next-button {
  cursor: pointer;
  font-size: 42px;
  color: white;
  padding: 20px;
  user-select: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.7s ease;
  pointer-events: none;
}

.slide img {
  width: 100%;
  border-radius: 20px;
  display: block;
}

.active-slide {
  opacity: 1;
  z-index: 10;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
  box-shadow: 0 0px 120px rgb(26, 26, 26);
  cursor: pointer;
}
.product-link {
  display: block;
  width: 100%;
  height: 100%;
}

.product-link img {
  width: 100%;
  display: block;
  border-radius: 20px;
}
.prev-slide {
  opacity: 0.8;
  z-index: 5;
  transform: translate(-120%, -50%) scale(0.85);
  pointer-events: auto;
}

.next-slide {
  opacity: 0.9;
  z-index: 5;
  transform: translate(20%, -50%) scale(0.85);
  pointer-events: auto;
}

.prev-slide:hover {
  opacity: 0.8;
  transform: translate(-130%, -50%) scale(0.9) rotate(-2deg);
}

.next-slide:hover {
  opacity: 0.8;
  transform: translate(30%, -50%) scale(0.9) rotate(2deg);
}

.slide {
  cursor: pointer;
}

.slide img {
  transition: transform 0.3s ease;
  width: 100%;
  border-radius: 20px;
  display: block;

  transition: transform 0.3s ease;

  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.active-slide img:hover {
  transform: scale(1.03);
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  .nav-links ul {
    display: none;
    flex-direction: column;
    gap: 12px;
    background: #9ced48;
    padding: 12px;
    border-radius: 8px;
  }

  .navbar.active .nav-links ul {
    display: flex;
  }
}
/* BASE (desktop default already fine) */

@media (max-width: 1250px) {
  .sliderContainer {
    padding-bottom: 40px;
  }

  .page-spacer {
    height: 10px;
  }

  .newsletter-section {
    margin: 10px auto 80px;
  }

  .slide {
    top: 48%;
  }
}

@media (max-width: 1000px) {
  .sliderContainer {
    height: 72vh;
    padding-bottom: 15px;
  }

  .page-spacer {
    height: 0px;
  }

  .newsletter-section {
    margin: 5px auto 45px;
  }

  .slide {
    top: 42%;
  }
}

@media (max-width: 875px) {
  .sliderContainer {
    height: 75vh; /* restore balance (don’t shrink too much here) */
    padding-bottom: 0;
  }

  .page-spacer {
    display: none;
  }

  .newsletter-section {
    margin: 0px auto 35px;
  }

  .slide {
    top: 34%;
  }
}
@media (max-width: 800px) {
  .sliderContainer {
    height: 70vh;
    padding-bottom: 10px;
  }

  .page-spacer {
    display: none;
  }

  .slide {
    top: 38%;
  }

  .newsletter-section {
    margin: 0px auto 30px;
  }
}

@media (max-width: 650px) {
  .sliderContainer {
    height: 65vh;
  }

  .slide {
    top: 40%;
  }

  .newsletter-section {
    margin: 0px auto 25px;
  }
}

@media (max-width: 500px) {
  .sliderContainer {
    height: 60vh;
  }

  .slide {
    top: 42%;
  }

  .newsletter-section {
    margin: 0px auto 18px;
  }
}

@media (max-width: 399px) {
  .sliderContainer {
    height: 58vh;
  }

  .slide {
    top: 44%;
  }

  .newsletter-section {
    margin: 0px auto 15px;
  }
}
@media (max-width: 700px) {
  .navbar {
    width: 95%;
    padding: 12px 16px;

    justify-content: space-between;
    gap: 10px;
  }

  .logo {
    font-size: 18px;
  }

  .menu-toggle {
    display: block;
    font-size: 26px;
  }

  .nav-links ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    flex-direction: column;
    gap: 12px;

    background: #9ced48;
    padding: 12px;
    border-radius: 8px;

    display: none;

    width: 100%;
  }

  .navbar.active .nav-links ul {
    display: flex;
  }
}
@media (max-width: 700px) {
  .footer {
    padding: 12px 16px;
  }

  .footer-container {
    gap: 16px;
  }

  .footer h2 {
    font-size: 14px;
    margin: 0 0 6px;
  }

  .footer p {
    font-size: 10px;
    margin: 2px 0;
    line-height: 1.2;
  }

  .footer-logo-img {
    width: 60%;
  }

  .footer-column,
  .footer-logo {
    gap: 4px;
  }
}
